.relative {
    position: relative;

  }
  
  .peer-placeholder-shown::placeholder {
    opacity: 0;
  }
  
  .peer-placeholder-shown + label {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1rem;
  }
  
  .peer:focus + label,
  .peer:not(:placeholder-shown) + label {
    top: 5px;
    transform: translateY(-50%);
    left: 10px;
    font-size: 0.75rem;
  }
  